
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
    font-family: 'Rowdies', cursive;
    font-weight: 300;

}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 19px;
    margin: 3px;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}
li:first-letter{
text-transform: capitalize;
}

a{
    text-decoration: none;
}
.weather-app {
    padding: 20px;
    border: 9px ridge #df0c10;
    border-radius: 19px;
    background-image: url("../images/colorful-splash.jpg");
   
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.overview {
    margin-bottom: 20px;
}
.weather-temperature img{
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: rgb(33,33,33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;

}
.weather-temperature.units {
    position: relative;
    font-size: 16px;
    top: -32px;
}

.weather-forecast{
    margin-top:20px;
    text-align: center;
    color: black;
}

.weather-forecast-date{
    font-size: 16px;
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    color: black;
}
.weather-forecast-temp{
    font-size: 13px;
}
